
.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 20px;
    background-image: url("Group.png"); /* Add your background image URL */
    background-size: cover;
    background-position: center;
  }
  
  .hero-section .content h1 span {
    color: #5aa09c;
  }
  
  @media (max-width: 768px) {
    .hero-section {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .hero-section .content {
      justify-content: center;
      text-align: center;
      width: 80%;
    }
  }